<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <h1>Angular Lazy Loading Example!</h1>
    <img src="../assets/demo.jpg" alt="demo">

    <nav>
        <button routerLink="/home">Home</button>
        <button routerLink="/about">About</button>
    </nav>
    <router-outlet></router-outlet>

</body>
<footer>
    <ul>
        <ul>
            <ul>
                <ul></ul>
                <ul>
                    <ul></ul>
                </ul>
            </ul>
        </ul>
    </ul>
    <a href="http://www.facebook.com/abdul.kareem2 "> <img class="responsive-img " src="../assets/if_1-Facebook_2907779.png"></a>
    <ul></ul>
    <a href="https://twitter.com/abdulkareemtpm "><img class="responsive-img " src="../assets/if_14-Twitter_2907762.png "></a>
    <ul></ul>
    <a href="https://github.com/tpmabdulkareem "> <img class="responsive-img " src="../assets/if_mark-github_298822.png "></a>
    <ul></ul>
    <a href="https://www.instagram.com/abdulkareemtpm/"><img class="responsive-img " src="../assets/if_7-Instagram_2907787.png"></a>
    <ul>
        <ul></ul>
    </ul>
    <h3>An Example of lazy Loading | FantaCode Task </h3>
</footer>

</html>